@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
  background-color: #26282b; /* Use the actual color code for bg-gray-900 */
  box-sizing: border-box; /* Use box-sizing instead of box-border */
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b91c1c; /* Use the actual color code for bg-rose-900 */
  border-radius: 0.75rem; /* Use border-radius instead of rounded-xl */
}

.task > ::-webkit-scrollbar-thumb {
  background-color: #1d4ed8; /* Use the actual color code for bg-sky-500 */
  border-radius: 0.75rem; /* Use border-radius instead of rounded-xl */
}

.left-arrow,
.right-arrow {
  margin-bottom: 45.5rem; /* You can adjust the margin value as needed */
}
/* Add this to your existing CSS */
.input-field {
  width: 70%; /* Set the width as needed */
}
.mr-60 {
  margin-right: 18rem;
}
.mt-60{
  margin-top: 20rem;
}