@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
  background-color: #26282b;  
  box-sizing: border-box; 
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b91c1c; 
  border-radius: 0.75rem;  
}

.task > ::-webkit-scrollbar-thumb {
  background-color: #1d4ed8;  
  border-radius: 0.75rem;  
}

.left-arrow,
.right-arrow {
  margin-bottom: 45rem; 
}
 .input-field {
  width: 70%;  
}
.mr-60 {
  margin-right: 18rem;
}
.mt-60{
  margin-top: 20rem;
}
/* Add this to your CSS file or as an inline style in your component */
.quill-editor {
  height: 200px; /* Set the desired height */
  color: white;
  background-color: #1e293b;
  border: 1px solid #1e293b;
}
